footer { 
    background: #1e1e1e; 
    color: #f5f5f5;
     padding: 40px 20px 20px 20px;
}

.footer-container { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    max-width: 1100px; 
    margin: auto; 
    gap: 20px; 
}

.footer-section h4 {
     font-size: 16px; 
     margin-bottom: 10px; 
     color: #27ae60; 
    }

.footer-section ul { 
    list-style: none; 
    padding: 0; 
}

.footer-section ul li a { 
    text-decoration: none; 
    color: #f5f5f5; 
    font-size: 14px; 
}
.footer-section ul li a:hover { 
    color: #27ae60; 
}

.socials { 
    display: flex; 
    gap: 10px; 
}

#logout-btn { 
    padding: 10px 18px; 
    background: #e74c3c; 
    color: #fff; 
    border: none; 
    border-radius: 8px; 
    font-weight: 600; 
    cursor: pointer; 
    transition: background 0.3s ease, transform 0.2s ease; 
    position: absolute; 
    top: 15px; 
    right: 20px; 
}

#logout-btn:hover {
    background: #c0392b; 
    transform: translateY(-2px); 
}
