.products {
    display: grid;
    grid-template-columns: repeat(3, 220px);
    gap: 80px;
    padding: 0 20px 50px 20px;
    justify-content: center;
}

.card {
    max-width: 220px;
    background: #1e1e1e;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    text-align: center;
    transition: transform 0.3 ease;
    box-shadow: 0.3 ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.7);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 12px;
    transition: transform 0.3 ease;
}

.card img:hover {
    transform: scale(1.05);
}

  .card h3 {
    margin: 10px 0 5px;
    font-size: 16px;
  }

  .card p {
    margin: 0 0 10px;
    font-weight: 500;
  }

  .card button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #27ae60;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3 ease;
  }

  .card button:hover {
    background: #1e8449;
  }

  .card a {
    text-decoration: none;
    color: inherit;
  }